.footer {
  width: 100%;
  display: flex;
  padding-left: 22px;
  align-items: center;
  z-index: 1;
  user-select: none;
}

.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.footer span {
  margin-left: 2px;
  font-size: 14px;
  color: #ffffff;
}

.footer img:nth-child(1) {
  margin-right: 2px;
}
