.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}

.textArea {
  --max-height: 160px;

  width: 100%;
  min-height: var(--max-height);
  max-height: var(--max-height);
  color: #f9fafb;
  outline: none;
  border: none;
  resize: none;
  background-color: inherit;
}

.container span {
  color: #cdd5e0;
  font-size: 12px;
}
