.main {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 641px) {
  .contentWrapper {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (min-width: 1024px) {
  .contentWrapper {
    padding-left: 72px;
    padding-right: 72px;
  }

  .cardWrapper {
    flex-direction: row;
  }
}
