.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #212936cc;
  border-radius: 20px;
  border: 1px solid #394150;
  padding: 24px;
}

.container[data-type='left'] {
  margin-bottom: 16px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 556px;
  }

  .container[data-type='left'] {
    margin-bottom: 0;
    margin-right: 18px;
  }
}
