.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 152px;
  min-width: 152px;
  margin-left: auto;
  background-color: #3662e3;
  border-radius: 8px;
  border: 1px solid #f9fafb;
  padding: 8px 10px;
  color: #f9fafb;
  font-size: 16px;
  cursor: pointer;
}

.container:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.container:active {
  opacity: 0.6;
}
