.container {
  margin-left: auto;
  padding: 0 10px;
  background-color: inherit;
  border-radius: 12px;
  border: 1px solid #f9fafb;
  cursor: pointer;
}

.container:active {
  opacity: 0.6;
}

.container:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
